<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deck sieve</title>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&family=Rubik+Vinyl&display=swap"
          rel="stylesheet">

    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script defer src="/js/script.js"></script>
</head>
<body>
<header class="header" id="header">
    <div class="header__container">
        <div class="header__account">
            <a class="header__btn header__btn--enter" href="/login">Войти</a>
            <a class="header__btn header__btn--join" href="/users/registration">Зарегистрироваться</a>
        </div>
    </div>
</header>
<main class="main" id="main">
    <div class="main__container">
        <h1 class="main__title">Поиск карт MTG</h1>
        <div class="main__wrap find">
            <form action="/cards" class="find__form">
                <button class="find__btn">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.624,15a8.03,8.03,0,0,0,10.619.659l5.318,5.318a1,1,0,0,0,1.414-1.414l-5.318-5.318A8.04,8.04,0,0,0,3.624,3.624,8.042,8.042,0,0,0,3.624,15Zm1.414-9.96a6.043,6.043,0,1,1-1.77,4.274A6,6,0,0,1,5.038,5.038ZM4.622,9.311a1,1,0,0,1,2,0A2.692,2.692,0,0,0,9.311,12a1,1,0,0,1,0,2A4.7,4.7,0,0,1,4.622,9.311Z"
                              fill="#211F30"/>
                    </svg>
                </button>
                <label class="find__label" for="name">
                    <input class="find__input" id="name" name="name" placeholder="Введите название карты" type="text">
                </label>
            </form>
        </div>
        <div class="main__wrap advanced">
            <h2 class="advanced__title">Расширенный поиск</h2>
            <form action="/cards" class="advanced-form">
                <div class="advanced-form__wrapper" id="f-1">
                    <label for="text" class="advanced-form__label">Текст</label>
                    <input id="text" name="text" type="text" class="advanced-form__input">
                </div>
                <div class="advanced-form__wrapper" id="f-2">
                    <label for="keywords" class="advanced-form__label">Ключевые слова</label>
                    <input id="keywords" name="keywords" type="text" class="advanced-form__input">
                </div>
                <div class="advanced-form__wrapper" id="f-3">
                    <label for="artist" class="advanced-form__label">Художник</label>
                    <input id="artist" name="artist" type="text" class="advanced-form__input">
                </div>
                <div class="advanced-form__wrapper" id="f-4">
                    <label for="manaValue" class="advanced-form__label">Общая мана-стоимость</label>
                    <input id="manaValue" name="manaValue" type="text" class="advanced-form__input">
                </div>
                <div class="advanced-form__wrapper" id="f-5">
                    <label for="type" class="advanced-form__label">Тип</label>
                    <select id="type" name="type" class="advanced-form__input select">
                        <option selected value> -- выберите тип --</option>
                        <option th:each="typ : ${type}"
                                th:text="${typ}"
                                th:value="${typ}">
                        </option>
                    </select>
                    <span></span>
                </div>
                <div class="advanced-form__wrapper" id="f-6">
                    <label for="subtype" class="advanced-form__label">Подтип</label>
                    <select id="subtype" name="subtype" class="advanced-form__input select">
                        <option selected value> -- выберите подтип --</option>
                        <option th:each="subtyp : ${subtype}"
                                th:text="${subtyp}"
                                th:value="${subtyp}">
                        </option>
                    </select>
                    <span></span>
                </div>
                <div class="advanced-form__wrapper" id="f-7">
                    <label for="supertype" class="advanced-form__label">Супертип</label>
                    <select id="supertype" name="supertype" class="advanced-form__input select">
                        <option selected value> -- выберите супертип --</option>
                        <option th:each="supertyp : ${supertype}"
                                th:text="${supertyp}"
                                th:value="${supertyp}">
                        </option>
                    </select>
                    <span></span>
                </div>
                <div class="advanced-form__wrapper" id="f-8">
                    <label for="rarity" class="advanced-form__label">Редкость</label>
                    <select id="rarity" name="rarity" class="advanced-form__input select">
                        <option selected value> -- выберите редкость карты --</option>
                        <option th:each="rar : ${rarity}"
                                th:text="${rar}"
                                th:value="${rar}"></option>
                    </select>
                    <span></span>
                </div>
                <button type="submit" class="advanced-form__btn" id="f-btn">Найти</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>