<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>User</title>

    <link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

    <script defer src="/js/script.js"></script>
</head>
<body>
<div class="user">
    <div class="header user-header">
        <div class="user-header__container">
            <div th:fragment="header" class="user-header__wrap">
                <span th:text="${#authentication.principal.username}" class="user-header__name">Username</span>
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="user-header__btn">Logout</button>
                </form>
            </div>

            <div th:fragment="locale">
                <form action="">
                    <select name="lang" onchange="this.form.submit()">
                        <option></option>
                        <option value="en">EN</option>
                        <option value="ru">RU</option>
                    </select>
                </form>
            </div>

        </div>
    </div>
    <div class="user-main">
        <div class="user-main__container">
            .user-main__content
        </div>
    </div>
</div>
<form th:action="@{/users/{userId}/update(userId=${user.id})}" method="post" th:object="${user}">
    <label for="username"><span th:text="#{user.username}">Username:</span>
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="status"><span th:text="#{user.isActive}">isActive:</span>
        <input id="status" type="text" name="isActive" th:value="${user.isActive}">
    </label><br>
    <div th:each="role: ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}"><span th:text="#{user.rolename}">Role:</span></label>
    </div>
    <button type="submit"><span th:text="#{user.updateBtn}">Update</span></button>
</form>

<form th:action="@{/users/{userId}/delete(userId=${user.id})}" method="post">
    <button type="submit"><span th:text="#{user.removeBtn}">Remove</span></button>
</form>

<div th:each="deck : ${decks}">
    <a th:href="@{'/decks/' + ${deck.id}}" th:text="|${deck.id}.  ${deck.name}|">Deck</a>
</div>
</body>
</html>