<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Deck sieve</title>

    <link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"></script>
    <script defer rel="stylesheet" src="../../static/js/script.js" th:src="@{/js/script.js}"></script>
</head>
<body>
<header class="header" id="header">
    <div class="header__container">
        <h1 class="header__title">Deck Sieve <span class="header__span">by Andrey Ananskiy</span></h1>
        <div class="header__wrap">
            <div sec:authorize="hasAuthority('ADMIN')" class="header__account">
                <a class="header__btn header__btn--left" href="/admin/users"><span
                        th:text="#{admin.tools}">Панель администратора</span></a>
            </div>
            <div sec:authorize="isAnonymous()" class="header__account">
                <a class="header__btn header__btn--left" href="/login"><span
                        th:text="#{login.loginBtn}">Войти</span></a>
                <a class="header__btn header__btn--right" href="/users/registration"><span
                        th:text="#{login.RegBtn}">Зарегистрироваться</span></a>
            </div>
            <div sec:authorize="isAuthenticated()" class="header__account">
                <a class="header__btn header__btn--left"
                   th:href="@{'/users/' + ${#authentication.principal.getId()}}"><span
                        th:text="${#authentication.principal.username}">Имя пользователя</span></a>
                <a class="header__btn header__btn--right" href="javascript: document.logoutForm.submit()"><span
                        th:text="#{header.logOutBtn}">Выйти</span></a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Logout"/>
                </form>
            </div>
            <div th:fragment="locale" class="header__lang lang">
                <form action="">
                    <select name="lang" onchange="this.form.submit()" class="lang__select">
                        <option selected>lang</option>
                        <option value="en">EN</option>
                        <option value="ru">RU</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
</header>
<form action="/index">
    <button type="submit">Вернуться к поиску</button>
</form>

<div th:each="card : ${cards.content}">
    <a th:href="@{'/cards/' + ${card.id}}" th:text="${card.name}">Card</a>
</div>

<div th:if="${cards.metadata.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${cards.metadata.pageNumbers}" style="display: inline-block">
    <a th:href="@{/cards(
    size=${cards.metadata.size},
    page=${pageNumber},

    name=${filter.name()},
    manaValue=${filter.manaValue()},
    keywords=${filter.keywords()},
    text=${filter.text()},
    artist=${filter.artist()},
    rarity=${filter.rarity()},
    type=${filter.type()},
    subtype=${filter.subtype()},
    supertype=${filter.supertype()},
    setcode=${filter.setcode()}
    )}"

       th:text="${pageNumber}"
       th:class="${pageNumber==cards.metadata.page + 1} ? active"></a>
</div>
</body>
</html>