body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fcfcfa;
  color: #211F30;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #211F30;
  color: #B7B8B6;
}
.header__container {
  margin: 0 auto;
  padding: 2rem 8rem;
  display: flex;
  justify-content: right;
}
.header__account {
  display: flex;
  gap: 2rem;
}
.header__btn {
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  transition: 0.4s ease;
  font-size: 0.85rem;
  position: relative;
  color: #B7B8B6;
  border: none;
  background-color: transparent;
}
.header__btn--enter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  border-bottom: 3px solid #B7B8B6;
  transition: width 0.4s ease;
}
.header__btn--join::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 50%;
  border-bottom: 3px solid #B7B8B6;
  transition: width 0.4s ease;
}
.header__btn:hover::after, .header__btn:focus::after {
  width: 100%;
}

.main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 88vh;
}
.main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
}
.main__container {
  margin: 0 auto;
  padding: 2rem 8rem;
  position: relative;
  z-index: 5;
}
.main__title {
  visibility: hidden;
  font-size: 1px;
}

.search {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search__btn {
  position: relative;
  z-index: 50;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: #217CA3;
  color: #fcfcfa;
  transition: all 0.6s ease;
  max-width: max-content;
  align-self: center;
}
.search__btn::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 25px;
  top: -10px;
  left: -20px;
  background-color: #C92243;
  transition: all 0.4s ease;
}
.search__btn::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 25px;
  bottom: -10px;
  right: -20px;
  background-color: #418258;
  transition: all 0.6s ease;
}
.search__btn:hover, .search__btn:focus-visible {
  background-color: #B7B8B6;
  color: #217CA3;
}
.search__btn:hover::before, .search__btn:focus-visible::before {
  transform: translateX(250%);
  opacity: 0.5;
}
.search__btn:hover::after, .search__btn:focus-visible::after {
  transform: translateX(-250%);
  opacity: 0.5;
}
.search__wrapper {
  border: 2px solid #B7B8B6;
}
.search__wrapper--advanced {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.search__wrap {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: space-between;
}
.search__label {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
.search__input {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #211F30;
  outline: none;
  border: none;
  border-bottom: 2px solid #B7B8B6;
  width: 100%;
  transition: border 0.4s ease;
  font-size: 0.75rem;
}
.search__input:hover, .search__input:focus-visible {
  border-bottom: 2px solid #217CA3;
}
.search-name {
  display: block;
  width: 80%;
  align-self: center;
  position: relative;
  margin-bottom: 1rem;
  border: none;
}
.search-name::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  bottom: -15px;
  border: 2px solid #217CA3;
  background-color: #B7B8B6;
}
.search-name__label {
  width: 100%;
  position: relative;
  z-index: 100;
}
.search-name__input {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #211F30;
  outline: none;
  border: none;
  border-bottom: 2px solid #B7B8B6;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  border: 2px solid #217CA3;
  transition: all 0.4s ease;
  background-color: #fcfcfa;
}
.search-name__input:hover, .search-name__input:focus-visible {
  transform: translateY(-10px);
}

/*# sourceMappingURL=style.css.map */
