$gray: #B7B8B6;
$white: #fcfcfa;
$red: #C92243;
$blue: #217CA3;
$green: #418258;
$black: #211F30;

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  background-color: $white;
  color: $black;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin container {
  margin: 0 auto;
  padding: 2rem 8rem;
}

@mixin btn {
  padding: 1rem 2rem;
  border: 2px solid transparent;
  transition: background-color .4s ease, color .4s ease, border .4s ease;
  cursor: pointer;
  color: $blue;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
  border-radius: 5px;
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  transition: .4s ease;
}

@mixin input {
  padding: .2rem .5rem;
  background-color: transparent;
  color: $blue;
  outline: none;
  border: none;
  border-bottom: 2px solid $gray;
  width: 100%;
}

@mixin title {
  font-family: 'Rubik Vinyl', cursive;
  font-size: 2rem;
  color: $blue;
  margin-bottom: 1rem;
}


.header {
  background-color: $black;
  color: $gray;

  &__container {
    @include container;
    display: flex;
    justify-content: right;
  }

  &__account {
    display: flex;
    gap: 2rem;
  }

  &__btn {
    @include link;
    font-size: .85rem;
    position: relative;
    color: $gray;
    border: none;
    background-color: transparent;

    &--enter::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 3px solid $gray;
      transition: width .4s ease;
    }

    &--join::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 3px solid $gray;
      transition: width .4s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

.main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
  }

  &__container {
    @include container;
    position: relative;
    z-index: 5;
  }

  &__title {
    visibility: hidden;
    font-size: 1px;
  }
}

.find {
  margin-bottom: 3rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 75%;
    bottom: -1rem;
    left: 12.5%;
    border: 2px solid $blue;
    border-radius: 20px;
    background-color: $gray;
  }

  &__form {
    position: relative;
    z-index: 50;
    display: flex;
    gap: 1rem;
    border: 2px solid $blue;
    border-radius: 30px;
    padding: 1rem 2rem;
    transition:  .4s ease;
    width: 80%;
    left: 10%;
    background-color: $white;

    &:hover,
    &:focus-within {
      transform: translatey(-3px);
    }
  }

  &__btn {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 40px;

    & path {
      transition: .4s ease;
    }

    &:hover path,
    &:focus-visible path {
      fill: $gray;
    }
  }

  &__label {
  width: 80%;
  }

  &__input {
    @include input;
    width: 100%;
    height: 100%;
    border: none;
    border-left: 2px solid $blue;
  }
}

.advanced {
  font-size: .75rem;

  &__title {
    @include title;
    text-align: center;
  }

  &-form {
    font-family: inherit;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    &__btn {
      @include btn;
      &:hover,
      &:focus-visible {
        background-color: $blue;
        color: $white;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      border: 2px solid $gray;
      border-radius: 5px;
      padding: .75rem;
      justify-content: space-between;
    }
    &__label {
      font-family: inherit;
      font-size: .75rem;
      font-weight: 600;
      text-align: center;
    }
    &__input {
      @include input;
      transition: border .4s ease;
      font-size: .75rem;
      &:hover,
      &:focus-visible {
        border-bottom: 2px solid $black;
      }
    }
  }
}
