@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap");
body {
  height: 100vh;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #fcfcfa;
  color: #453c41;
  position: relative;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.header {
  font-size: 1.5rem;
  background-color: #453c41;
  color: #9a9eab;
}
.header__title {
  font-size: 1.2rem;
  color: #9a9eab;
  line-height: 1;
  margin: 0;
  font-style: italic;
}
.header__span {
  font-weight: lighter;
  font-size: 0.7rem;
}
.header__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
  display: flex;
  justify-content: space-between;
}
.header__wrap {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.header__account {
  display: flex;
  gap: 2rem;
}
.header__btn {
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    transition: 0.4s ease;
    font-size: 0.85rem;
    position: relative;
    color: #fcfcfa;
    border: none;
    background-color: transparent;
    line-height: 100%;
}
.header__btn--left::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid #fcfcfa;
  transition: width 0.4s ease;
}
.header__btn--right::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid #fcfcfa;
  transition: width 0.4s ease;
}
.header__btn:hover::after, .header__btn:focus::after {
  width: 100%;
}

.lang {
  max-width: 3%;
  font-size: 0.75rem;
}
.lang__select {
  background-color: #453c41;
  color: #9a9eab;
  transition: border 0.4s ease;
}
.lang__select:hover, .lang__select:focus-visible {
  border-color: #fcfcfa;
}

.main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 88vh;
}
.main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
}
.main__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
  position: relative;
  z-index: 5;
}

.search {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.search__btn {
  position: relative;
  z-index: 50;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: 8px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #9a9eab;
  color: #fcfcfa;
  transition: border 0.6s ease;
  max-width: max-content;
  align-self: center;
}
.search__btn:hover, .search__btn:focus-visible {
  border-top: 8px solid #5da104;
  border-bottom: 8px solid #e05858;
  border-left: 8px solid #336b87;
  border-right: 8px solid #453c41;
}
.search__wrapper {
  border: 2px solid #9a9eab;
}
.search__wrapper--advanced {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}
.search__wrap {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  justify-content: space-between;
}
.search__label {
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}
.search__input {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #453c41;
  outline: none;
  border: none;
  border-bottom: 2px solid #9a9eab;
  width: 100%;
  transition: border 0.4s ease;
  transition: border 0.4s ease;
  font-size: 0.75rem;
}
.search__input:hover, .search__input:focus-visible {
  border-bottom: 2px solid #336b87;
}
.search-name {
  display: block;
  width: 80%;
  align-self: center;
  position: relative;
  margin-bottom: 1rem;
  border: none;
}
.search-name::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 80%;
  left: 5%;
  bottom: -15px;
  border: 2px solid #9a9eab;
  background-color: #9a9eab;
}
.search-name__label {
  width: 100%;
  position: relative;
  z-index: 100;
}
.search-name__input {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #453c41;
  outline: none;
  border: none;
  border-bottom: 2px solid #9a9eab;
  width: 100%;
  transition: border 0.4s ease;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  border: 2px solid #9a9eab;
  transition: all 0.4s ease;
  background-color: #fcfcfa;
}
.search-name__input:hover, .search-name__input:focus-visible {
  transform: translateY(-10px);
}

.card {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
}
.card__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
  position: relative;
  z-index: 5;
}
.card__wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.card__wrapper--top {
  margin-bottom: 1rem;
}
.card__wrap {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}
.card__btn {
  position: relative;
  z-index: 50;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: 8px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #9a9eab;
  color: #fcfcfa;
  transition: border 0.6s ease;
  padding: 5px 10px;
}
.card__btn:hover, .card__btn:focus-visible {
  border-top: 8px solid #5da104;
  border-bottom: 8px solid #e05858;
  border-left: 8px solid #336b87;
  border-right: 8px solid #453c41;
}
.card-description {
  width: 100%;
  border: 2px solid #9a9eab;
  justify-content: left;
  vertical-align: center;
  padding: 2rem;
  height: 75vh;
  gap: 2rem;
}
.card-description__img {
  height: 100%;
}
.card-description__list {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-description__item {
  font-weight: bold;
  color: #453c41;
  line-height: 150%;
}
.card-description__article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card-description__buttons {
  display: flex;
  gap: 2rem;
}
.card-description__span {
  font-weight: normal;
}
.card-description__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.card-description__btn path {
  transition: all 0.4s ease;
}
.card-description__btn:hover path, .card-description__btn:focus-visible path {
  fill: #9a9eab;
}

.cards__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
}
.cards__content {
  position: relative;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cards__btn {
  position: relative;
  z-index: 50;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: 8px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #9a9eab;
  color: #fcfcfa;
  transition: border 0.6s ease;
  padding: 0.25rem 1rem;
  font-weight: normal;
}
.cards__btn:hover, .cards__btn:focus-visible {
  border-top: 8px solid #5da104;
  border-bottom: 8px solid #e05858;
  border-left: 8px solid #336b87;
  border-right: 8px solid #453c41;
}
.cards__result {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.cards__link {
    max-width: 25%;
    display: inline;
}

.cards__link img {
    object-fit: cover;
    max-width: 100%;
    position: relative;
    border: 5px solid transparent;
    border-radius: 15px;
    transition: border .4s ease;
}

.cards__link img:hover, .cards__link img:focus-visible {
    border: 5px solid #000;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.pagination__wrap a {
    color: #453c41;
    text-decoration: none;
    transition: color .4s ease;
}

.pagination__wrap a:hover,
.pagination__wrap a:focus-visible {
    color: #9a9eab;
}


.user-header {
    background-color: #453c41;
    color: #9a9eab;
}

.user-header__container {
    margin: 0 auto;
    padding: 1.2rem 8rem;
    display: flex;
    justify-content: space-between;
}
.user-header__wrap {
    display: flex;
    align-items: end;
    gap: 2rem;
    text-align: right;
}
.user-header__name {
  font-weight: bold;
  font-size: 1rem;
}
.user-header__btn {
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    transition: 0.4s ease;
    font-size: 1rem;
    position: relative;
    color: #9a9eab;
    border: none;
    background-color: transparent;
    padding-bottom: .3rem;
}
.user-header__btn--logout {
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    transition: 0.4s ease;
    font-size: 1rem;
    position: relative;
    color: #9a9eab;
    border: none;
    background-color: transparent;
    line-height: 1.15;
}
.user-header__btn--logout::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 50%;
  line-height: 150%;
  border-bottom: 3px solid #9a9eab;
  transition: width 0.4s ease;
}
.user-header__btn::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 50%;
  line-height: 150%;
  border-bottom: 3px solid #9a9eab;
  transition: width 0.4s ease;
}
.user-header__btn:hover::after, .user-header__btn:focus::after {
  width: 100%;
}
.user-main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 88vh;
}
.user-main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
}
.user-main__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
  position: relative;
  z-index: 5;
}

.deck {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.deck::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  height: 100%;
}
.deck__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
}
.deck__content {
  position: relative;
  z-index: 50;
}
.deck__title {
  font-size: 1.2rem;
  color: #9a9eab;
  line-height: 1;
  margin: 0;
  font-style: italic;
  color: #453c41;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.deck-stat {
  display: grid;
  gap: .75rem;
  grid-template-columns: 1fr 2fr 2fr 2fr 3fr;
}
.deck-stat__wrap {
  display: flex;
  gap: 1rem;
}
.deck-stat__title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #9a9eab;
}

.users__container {
  margin: 0 auto;
  padding: 1.2rem 8rem;
  position: relative;
}
.users__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex-wrap: wrap;
    position: relative;
    z-index: 100;
}
.users__info {
  display: flex;
    gap: 1rem;
    align-items: center;
}

.users__title {
    font-size: 1.2rem;
    color: #9a9eab;
    line-height: 1;
    margin: 0;
    font-style: italic;
}

.header__title a {
    text-decoration: none;
    color: #9a9eab;
}

.users__btn {
    background-color: transparent;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #9a9eab;
    transition: color 0.4s ease;
    cursor: pointer;
}

.users__btn:hover, .users__btn:focus-visible {
    color: #9a9eab;
}

.modal {
  position: absolute;
  top: -100vh;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  padding: 7rem 30rem;
  z-index: 1000;
}
.modal--active {
  top: 0;
  opacity: 1;
}
.modal__wrapper {
  background-color: #fcfcfa;
  color: #453c41;
  padding: 4rem;
  position: relative;
}
.modal__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 50;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal__close path {
  transition: all 0.4s ease;
}
.modal__close:hover path, .modal__close:focus-visible path {
  stroke: #9a9eab;
  fill: #9a9eab;
}
.modal__form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal__input {
  padding: 0.2rem 0.5rem;
  background-color: transparent;
  color: #453c41;
  outline: none;
  border: none;
  border-bottom: 2px solid #9a9eab;
  width: 100%;
  transition: border 0.4s ease;
}
.modal__input:hover, .modal__input:focus-visible {
  border-bottom: 2px solid #336b87;
}
.modal__input:last-child {
  margin-bottom: 2rem;
}
.modal__btn {
  position: relative;
  z-index: 50;
  margin: 0.5rem;
  padding: 1rem 2rem;
  border: 8px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #9a9eab;
  color: #fcfcfa;
  transition: border 0.6s ease;
  margin-bottom: 1rem;
}
.modal__btn:hover, .modal__btn:focus-visible {
  border-top: 8px solid #5da104;
  border-bottom: 8px solid #e05858;
  border-left: 8px solid #336b87;
  border-right: 8px solid #453c41;
}
.modal__text {
  font-weight: normal;
  padding-top: 1rem;
  display: inline-block;
}
.modal__google {
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
    color: #453c41;
    vertical-align: center;
    font-weight: bold;
}

.modal__google:hover, .modal__google:focus-visible {
    color: #9a9eab;
}

/*# sourceMappingURL=style.css.map */

.deck-stat {
    margin-bottom: 2rem;
}

.deck-stat__wrapper {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.deck-stat__wrap {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.deck-stat__values {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bolder;
  color: #336b87;
  gap: .5rem;
}

.deck-stat__value {
  display: flex;
  font-size: 1rem;
}

.deck-stat__value--value {
  font-weight: bold;
  text-align: center;
  padding-left: .5rem;
}


.deck-del {
    display: flex;
    gap: 1rem;
}

.deck-del a {
    text-decoration: none;
    color: #453c41;
    transition: color .4s ease;
}

.deck-del a:hover,
.deck-del a:focus-visible {
    color: #336b87;
}

.deck-del__btn path {
  width: 15px;
  height: 15px;
  transition: all .4s ease;
}

.deck-del__btn path:hover,
.deck-del__btn path:focus-visible {
    stroke: #336b87;
}

.registration-main__content,
.login-main__content {
    padding: 5rem 20rem;
}

.deck__link {
    text-decoration: none;
    color: #453c41;
    font-weight: bolder;
    transition: color .4s ease;
}

.deck__link:hover,
.deck__link:focus-visible {
    color: #9a9eab;
}

.user__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
    margin-bottom: 2rem;
}

.user__form {
    display: flex;
    flex-direction: column;
}