@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

$gray: #B7B8B6;
$white: #fcfcfa;
$red: #C92243;
$blue: #217CA3;
$green: #418258;
$black: #211F30;

body {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  background-color: $white;
  color: $black;
  position: relative;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@mixin container {
  margin: 0 auto;
  padding: 2rem 8rem;
}

@mixin btn {
  position: relative;
  z-index: 50;
  margin: .5rem;
  padding: 1rem 2rem;
  border: 8px solid transparent;
  outline: none;
  cursor: pointer;
  font-weight: 800;
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
  background-color: $gray;
  color: $white;
  transition: border .6s ease;
}

@mixin btn-effect {
  border-top: 8px solid $green;
  border-bottom: 8px solid $red;
  border-left: 8px solid $blue;
  border-right: 8px solid $black;
}

@mixin link {
  text-decoration: none;
  cursor: pointer;
  font-weight: 300;
  transition: .4s ease;
}

@mixin input {
  padding: .2rem .5rem;
  background-color: transparent;
  color: $black;
  outline: none;
  border: none;
  border-bottom: 2px solid $gray;
  width: 100%;
  transition: border .4s ease;
}

@mixin title {
  font-size: 1.2rem;
  color: $gray;
  line-height: 1;
  margin: 0;
  font-style: italic;
}

//header
.header {
  background-color: $black;
  color: $gray;

  &__title {
    @include title
  }

  &__span {
    font-weight: lighter;
    font-size: .7rem;
  }

  &__container {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }

  &__account {
    display: flex;
    gap: 2rem;
  }

  &__btn {
    @include link;
    font-size: .85rem;
    position: relative;
    color: $gray;
    border: none;
    background-color: transparent;

    &--enter::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 3px solid $gray;
      transition: width .4s ease;
    }

    &--join::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 3px solid $gray;
      transition: width .4s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }
}

.lang {
  max-width: 3%;
  &__select {
    background-color: $black;
    color: $gray;
    transition: border .4s ease;
    &:hover,
    &:focus-visible {
      border-color: $white;
    }
  }
}

//main
.main {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 88vh;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
  }

  &__container {
    @include container;
    position: relative;
    z-index: 5;
  }
}

.search {
  font-size: .75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__btn {
    @include btn;
    max-width: max-content;
    align-self: center;

    &:hover,
    &:focus-visible {
      @include btn-effect;
    }
  }

  &__wrapper {
    border: 2px solid $gray;

    &--advanced {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      padding: 1rem;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    padding: .3rem;
    justify-content: space-between;
  }

  &__label {
    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: .5rem
  }

  &__input {
    @include input;
    transition: border .4s ease;
    font-size: .75rem;

    &:hover,
    &:focus-visible {
      border-bottom: 2px solid $blue;
    }
  }

  &-name {
    display: block;
    width: 80%;
    align-self: center;
    position: relative;
    margin-bottom: 1rem;
    border: none;

    &::after {
      content: "";
      position: absolute;
      width: 90%;
      height: 80%;
      left: 5%;
      bottom: -15px;
      border: 2px solid $gray;
      background-color: $gray;
    }

    &__label {
      width: 100%;
      position: relative;
      z-index: 100;
    }

    &__input {
      @include input;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      width: 100%;
      height: 100%;
      border: 2px solid $gray;
      transition: all .4s ease;
      background-color: $white;

      &:hover,
      &:focus-visible {
        transform: translateY(-10px);
      }
    }
  }
}

//card
.card {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
  font-size: 20px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
  }

  &__container {
    @include container;
    position: relative;
    z-index: 5;
  }

  &__wrapper {
    display: flex;
    gap: 2rem;
    justify-content: space-between;

    &--top {
      margin-bottom: 2rem;
    }
  }

  &__wrap {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    align-items: center;
  }

  &__btn {
    @include btn;
    padding: 5px 10px;

    &:hover,
    &:focus-visible {
      @include btn-effect;
    }
  }

  &-description {
    width: 100%;
    border: 2px solid $gray;
    justify-content: left;
    vertical-align: center;
    padding: 2rem;
    height: 75vh;
    gap: 2rem;

    &__img {
      height: 100%;
    }

    &__list {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    &__item {
      font-weight: bold;
      color: $black;
      line-height: 150%;
    }

    &__article {
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }

    &__buttons {
      display: flex;
      gap: 2rem;
    }

    &__span {
      font-weight: normal;
    }

    &__btn {
      border: none;
      background-color: transparent;
      cursor: pointer;

      & path {
        transition: all .4s ease;
      }

      &:hover path,
      &:focus-visible path {
        fill: $gray;
      }
    }
  }
}

//user
.user {

  &-header {
    background-color: $black;
    color: $gray;

    &__container {
      @include container;
      display: flex;
      justify-content: flex-end;
    }

    &__wrap {
      display: flex;
      gap: 2rem;
      text-align: right;
    }

    &__name {
      font-weight: bold;
      font-size: 1rem;
    }

    &__btn {
      @include link;
      font-size: 1rem;
      position: relative;
      color: $gray;
      border: none;
      background-color: transparent;
      //margin-right: 1rem;
      &--logout {
        @include link;
      }
      &--logout::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 50%;
        line-height: 150%;
        border-bottom: 3px solid $gray;
        transition: width .4s ease;
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -5px;
        width: 50%;
        line-height: 150%;
        border-bottom: 3px solid $gray;
        transition: width .4s ease;
      }

      &:hover::after,
      &:focus::after {
        width: 100%;
      }
    }
  }

  &-main {
    position: relative;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 88vh;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.95);
      width: 100%;
      height: 100%;
    }

    &__container {
      @include container;
      position: relative;
      z-index: 5;

    }
  }
}

//modal
.modal {
  position: absolute;
  top: -100vh;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .20);
  transition: all .4s ease;
  padding: 7rem 30rem;

  &--active {
    top: 0;
    opacity: 1;
  }

  &__wrapper {
    background-color: $white;
    color: $black;
    padding: 4rem;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 50;
    border: none;
    background-color: transparent;
    cursor: pointer;
    & path {
      transition: all .4s ease;
    }
    &:hover path,
    &:focus-visible path{
      stroke: $gray;
      fill: $gray;
    }
  }

  &__form {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input {
    @include input;
    &:hover,
    &:focus-visible {
      border-bottom: 2px solid $blue;
    }
    &:last-child {
      margin-bottom: 2rem;
    }
  }

  &__btn {
    @include btn;
    margin-bottom: 1rem;
    &:hover,
    &:focus-visible {
      @include btn-effect
    }
  }
}

//deck
.deck {
  position: relative;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
  }

  &__container {
    @include container;
  }

  &__content {
    position: relative;
    z-index: 50;
  }

  &__title {
    @include title;
    font-size: 2rem;
  }

  &__subtitle {
    @include title;
    font-size: 1rem;
  }
}