<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:text="${deck.name}">Deck</a>
<div th:each="card : ${cards}">
    <a th:text="${card.name}">Card</a>
</div>
<a th:text="|Средний манакост: ${averageManaValue}|"></a>
<br>Color distribution:
<div th:each="color : ${numberOfEachColor}">
    <a th:text="${color.key}">keyvalue</a>
    <a th:text="${color.value}">num</a>
</div>
Mana curve:
<div th:each="manavalue : ${manacurve}">
    <a th:text="${manavalue.key}">keyvalue</a>
    <a th:text="${manavalue.value}">num</a>
</div>
</body>
</html>