<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck</title>

    <link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="../../static/js/script.js" th:href="@{/js/script.js}">
</head>
<body>
<section class="deck">
    <div class="deck__container">
        <div class="deck__content">
            <h2 th:text="${deck.name}" class="deck__title">Deck</h2>
            <div th:each="card : ${cards}">
                <h3 th:text="${card.name}" class="deck__subtitle">Card</h3>
            </div>
            <h3 th:text="|Средний манакост: ${averageManaValue}|" class="deck__subtitle">Средний манакост</h3>
        </div>
    </div>
</section>
</body>
</html>